ion-card {
    text-align: center;
    width: 500px;
    height: 325px;
    margin: 1rem;
    --background: #D7BDE2;
}
ion-img{
    width: 450px;
    height: 200px;
}
ion-label{
    font-size: 24px;
    color: #4A235A;
}
ion-card-title{
    font-size: 24px;
    color: #633974;
}