<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ejercicio 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-user-card
    nameUser="Gorge Pacheco"
    image="https://st2.depositphotos.com/1017228/8498/i/450/depositphotos_84982112-stock-photo-handsome-man-dressing-shirt.jpg"
    descriptionUser="El de Ventas"
  ></app-user-card>
  <app-user-card
    nameUser="Jaime Gonzales"
    image="https://hips.hearstapps.com/hmg-prod/images/mh-207-marquee-loop-juanbetancourt-1569317981.jpg"
    descriptionUser="Asistente General"
  ></app-user-card>
  <ion-button routerLink="/ejercicio2">Ejercicio 2</ion-button>
  <ion-button routerLink="/ejercicio3">Ejercicio 3</ion-button>
</ion-content>
